{:paths ["src"]

 :deps {org.jline/jline {:mvn/version "3.28.0"}}

 :aliases
 {:test
  {:extra-paths ["test"]
   :main-opts ["-e" "(require '[clojure.test :as t] '[clojure.string :as str]) (let [test-dir (java.io.File. \"test\") all-files (file-seq test-dir) test-nses (->> all-files (filter #(.isFile %)) (map #(.getPath %)) (filter #(re-find #\"_test\\.cljc?$\" %)) (map #(-> % (str/replace #\"^test/\" \"\") (str/replace #\"\\.cljc?$\" \"\") (str/replace \"/\" \".\") (str/replace \"_\" \"-\") symbol)) sort)] (doseq [ns-sym test-nses] (require ns-sym)) (let [{:keys [fail error]} (apply t/run-tests test-nses)] (System/exit (if (pos? (+ fail error)) 1 0))))"]}

  :cli
  {:main-opts ["-m" "calc.cli"]}}}
